# On precise, for some reason, USER and GROUP are getting ignored.
# So setting mode = 0666 for now.
KERNEL=="ttyACM[0-9]*", ACTION=="add", ATTRS{idVendor}=="15d1", ATTRS{idProduct}=="0000", MODE="0666", GROUP="dialout"