<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!--<arg name="map_name" default="simple10x10"/>-->
    <!--<arg name="map_name" default="casa"/>-->
    <arg name="map_name" default="finalmap"/>
    <arg name="real_barista" default="false" />

    <!-- Start the navigation systems -->
    <include file="$(find costa_robot)/launch/tb3_localization_demo.launch">
        <arg name="map_name" value="$(arg map_name)"/>
        <arg name="real_barista" value="$(arg real_barista)"/>
    </include>

    <include file="$(find barista_gazebo)/launch/save_waypoints_server.launch">
        <arg name="map_name" value="$(arg map_name)"/>
    </include>

</launch>